$primary: #00bfaa !default;
$default: #1d3557 !default;
$secondary: #eef0f2 !default;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}

body {
  font-family: "Open Sans";
  color: $default;
  background-color: $secondary;
  border-top: 0.5rem solid $primary;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 10px;
}

.text-primary {
  color: $primary !important;
}

.text-secondary {
  color: $secondary !important;
}

.text-default {
  color: $default !important;
}
.display-2 {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 2;
}
.lead {
  font-size: 1.25rem;
  font-weight: 500;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.hero_contents {
  text-align: center;
}
.searchBar {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #fff;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
  color: $default;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

.command_lists {
  margin-top: 3rem;
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  .card {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
    border-radius: 0.375rem;
    .card_body {
      flex: 1 1 auto;
      min-height: 1px;
      padding: 1.5rem;
      .title {
        font-size: 1rem;
      }
      .git_code_container {
        background-color: $default;
        color: $secondary;
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > i {
          cursor: pointer;
          color: $secondary;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .searchBar {
    justify-content: center;
  }
  #searchQueryInput {
    width: 80%;
  }
  .command_lists {
    height: 400px;

    .card {
      .card_body {
        .title {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  #searchQueryInput {
    width: 60%;
  }
  .command_lists {
    margin: 0 5rem;
    margin-top: 3rem;
    .card {
      .card_body {
        .title {
          font-size: 1.5rem;
        }
      }
    }
  }
}
